<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.di_cho">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Di_Cho"
        tools:replace="android:theme">
        <activity
            android:name=".AdminUserProduct"
            android:exported="false" />
        <activity
            android:name=".AdminCheckOderActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterBackUp"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SellScreen"
            android:exported="false" />
        <activity
            android:name=".InfoappScreen"
            android:exported="false" />
        <activity
            android:name=".AdminControlPanel"
            android:exported="true" />
        <activity
            android:name=".AdminAddProduct"
            android:exported="true" />
        <activity
            android:name=".AdminScreen"
            android:exported="true" />
        <activity
            android:name=".IntroSlide2"
            android:exported="false" />
        <activity
            android:name=".IntroSlide1"
            android:exported="false" />
        <activity
            android:name="com.example.WebMenu"
            android:exported="false" />
        <activity
            android:name=".LoginBackUp"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>